<ui-field
  [label]="label()"
  [required]="required()"
  [helperText]="helperText()"
  [error]="error()"
  [hideLabel]="hideLabel()"
  [controlId]="selectId">

  <select
    [id]="selectId"
    [disabled]="isDisabled()"
    [attr.aria-invalid]="ariaInvalid()"
    (change)="onSelect($event)"
    (blur)="onBlur()"
    class="form-select">

    <option
      *ngIf="placeholder()"
      value=""
      disabled
      hidden>
      {{ placeholder() }}
    </option>

    <option
      *ngFor="let opt of options(); trackBy: trackByValue"
      [attr.value]="opt.value"
      [disabled]="opt.disabled ?? false">
      {{ opt.label }}
    </option>

  </select>

</ui-field>
