/* ==========================================================================
   Display Utilities
   ========================================================================== */

/* Display */

.sh-block {
  display: block;
}

.sh-inline {
  display: inline;
}

.sh-inline-block {
  display: inline-block;
}

.sh-none {
  display: none;
}

/* Grid */

.sh-grid {
  display: grid;
}

.sh-inline-grid {
  display: inline-grid;
}