@use '../../../../styles/abstracts/mixins';
@use '../../../../styles/themes/css-variables';

:host {
  display: inline-flex;
}

.ui-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--_avatar-size);
  height: var(--_avatar-size);

  background: var(--sh-color-surface-muted);
  color: var(--sh-color-text-muted);
  border-radius: 50%;
  overflow: hidden;

  font-size: calc(var(--_avatar-size) * 0.4);
  font-weight: var(--sh-font-weight-semibold);
}

.ui-avatar--sm { --_avatar-size: 2.5rem; }
.ui-avatar--md { --_avatar-size: 5rem; }
.ui-avatar--lg { --_avatar-size: 8rem; }

.ui-avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
