@use '../../../../styles/abstracts/mixins';
@use '../../../../styles/themes/css-variables';

:host {
  display: inline-flex;
}

.ui-tab {
  background: transparent;
  border: 0;
  border-bottom: 2px solid transparent;

  padding: var(--sh-space-2) var(--sh-space-3);

  color: var(--sh-color-text-muted);
  font-size: var(--sh-font-size-sm);
  font-weight: var(--sh-font-weight-semibold);
  font-family: inherit;
  white-space: nowrap;

  cursor: pointer;
}

.ui-tab:hover:not(.ui-tab--active) {
  color: var(--sh-color-text);
}

.ui-tab--active {
  color: var(--sh-color-brand-primary);
  border-bottom-color: var(--sh-color-brand-primary);
}

.ui-tab:focus-visible {
  @include mixins.focus-ring;
}
