@use '../../../../styles/abstracts/mixins';
@use '../../../../styles/themes/css-variables';

:host {
  display: inline-flex;
}

.ui-badge {
  display: inline-flex;
  align-items: center;
  gap: var(--sh-space-1);
  padding: var(--sh-space-1) var(--sh-space-2);

  font-size: var(--sh-font-size-xs);
  font-weight: var(--sh-font-weight-bold);
  line-height: 1;
  white-space: nowrap;

  border-radius: var(--sh-radius-md);
}

.ui-badge--primary {
  background: var(--sh-color-brand-primary);
  color: var(--sh-color-text-inverse);
}

.ui-badge--secondary {
  background: var(--sh-color-text-muted);
  color: var(--sh-color-text-inverse);
}

.ui-badge--success {
  background: var(--sh-color-success);
  color: var(--sh-color-text-inverse);
}

.ui-badge--warning {
  background: var(--sh-color-warning);
  color: var(--sh-color-text-inverse);
}

.ui-badge--danger {
  background: var(--sh-color-danger);
  color: var(--sh-color-text-inverse);
}

.ui-badge--info {
  background: var(--sh-color-info);
  color: var(--sh-color-text-inverse);
}
