@use '../abstracts/mixins';

.sh-sr-only {
  block-size: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.sh-focus-ring:focus-visible {
  @include mixins.focus-ring;
}



